

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-left {
  display: flex;
  align-items: center;
}

.header-top-left-items {
  margin-right: 10px; 
}

.header-top-left-items a {
  text-decoration: none; /* Bỏ gạch chân cho link */
  color: hsl(211, 70%, 41%); /* Đặt màu xanh dương cho chữ */
}

.header-top-left-items select {
  border: none; /* Bỏ viền cho select */
  color: hsl(211, 70%, 41%);
}


.header-top-right {
  display: flex;
  align-items: center;
}

.header-top-right-items {
  margin-left: 10px;
}

.header-top-right-items select {
  border: none;
}

.header-top-right button {
  border: none; /* Bỏ viền của button */
}
